<br>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<br>
<br>
<div id="tweet">
    <div id="entradas">
        <div class="text">
            <span>¿Qué está pasando?</span>
            <br>
            <input type="text" name="textInput" [(ngModel)]="textInput">
        </div>
        <div class="author">
            <span>Autor</span>
            <br>
            <input type="text" name="autorInput" [(ngModel)]="autorInput">
        </div>
        <button id="button" (click)='addTweet(textInput,autorInput)'>Tweet</button>
    </div>
    <br>
    <div id="content" *ngFor="let tweet of Tweets">
        <div id="image">
            <img src="https://cdn3.iconfinder.com/data/icons/popular-social-media-2/48/jee01-16-512.png" alt="Logo JS">
        </div>
        <div class="section" style="float: center;">
            <h4>{{ tweet.texto }}</h4>
            <br>
            <h4>Autor: {{ tweet.autor }}</h4>
            <br>
            <h4>{{tweet.date}}</h4>
            <br>
            <div class="interactions mb-1">
                <i class="glyphicon glyphicon-heart"> {{tweet.likes}}</i>
                <br>
                <i class="glyphicon glyphicon-comment"> {{tweet.comments}}</i>
                <button class="btn btn-danger btn-block" (click)="deletTweet(tweet.id)">Eliminar tweet</button>
            </div>
        </div>
        <hr>
    </div>
</div>

<!-- Footer -->
<footer class="bg">
    <!-- Footer Elements -->
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-6 mb-4">
          <form class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="Your account"
              aria-label="Your email" aria-describedby="basic-addon2" name="userDelete"  [(ngModel)]="userDelete">
            <div class="input-group-append">
              <button class="btn btn-danger btn-block" type="button" (click)=delete(userDelete)>DELETE</button>
            </div>
          </form>
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
    </div>
  
  </footer>
  <!-- Footer -->